<div data-test="balance-table">
    <div class="flex-grid" data-test="grid-header">
        <div class="header">Name</div>
        <div class="header">Description</div>
        <div class="header">Actions</div>
    </div>
    <div class="flex-grid" data-test="grid-col">
        <div class="col">Name</div>
        <div class="col">Description</div>
        <div class="col">[Edit][Delete]</div>
    </div>
</div>
