<div class="balance-table" data-test="balance-table">
    <Balance::Table::Header />
    <Balance::Table::Row />
    <Balance::Table::Row />
    <Balance::Table::Row />
    <Balance::Table::Row />
    <Balance::Table::Row />
    <Balance::Table::Row />
</div>
