<div class="table-header-row" data-test="grid-header">
    <div class="table-header-show-summary"></div>
    <div class="table-header-column">Name</div>
    <div class="table-header-column">Description</div>
    <div class="table-header-column">Actions</div>
</div>
