<div class="table-row" data-test="grid-row">
    <div class="table-col-show-summary">+</div>
    <div class="table-col">My budget</div>
    <div class="table-col">My Personal budget of 2020</div>
    <div class="table-col last-col">[Edit][Delete]</div>
</div>
<div class="regular-summary">
    <div>Total: XXX,XX</div>
    <div>Average: XX,XX</div>
</div>
