<ul class="budget-form-fields">
    <li>
        <span>Id: </span><span data-test-budget-id>{{@budget.id}}</span>
    </li>
    <li>
        <span>Name: </span><span data-test-budget-name>{{@budget.name}}</span>
    </li>
    <li>
        <span>Description: </span><span data-test-budget-description>{{@budget.description}}</span>
    </li>
</ul>
