<Page::Header>X Pent Up!</Page::Header>

<ul>
    <li>
        <LinkTo @route="budgets" data-test-link-to-budget>Balances</LinkTo>
    </li>
    <li>
        <LinkTo @route="about" data-test-link-to-about>About</LinkTo>
    </li>
</ul>
