<Page::Header data-test-page-header="main">X Pent Up!</Page::Header>
<ul>
    <li>
        <LinkTo @route="budget" data-test-link-to-budget>Budgets</LinkTo>
    </li>
    <li>
        <LinkTo @route="about" data-test-link-to-about>About</LinkTo>
    </li>
</ul>
