<h1>X Pent Up!</h1>

<ul>
    <li>
        <LinkTo @route="balance" data-test="link-to-balance">Balances</LinkTo>
    </li>
    <li>
        <LinkTo @route="about" data-test="link-to-about">About</LinkTo>
    </li>
</ul>
